.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555;
}


/* styles.css */
body {
    margin: 0;
    padding: 0;
   
}

#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    
    z-index: -1; /* Place video behind other content */
}

.LKG1
{
    color: aliceblue; /* sign up form text color */
}

.custom-table {
    width: 50%; /* Table width is 100% of the container */
    border: 2px solid orange;
    background-color: green;
  }
  .custom-table img {
    width: 180px; /* Adjust the size as needed */
    height: 150;
  }
  .custom-table td {
    height: 150px; /* Fixed height for table cells */
    vertical-align: top; /* Aligns content to the top of the cell */
  }

 /*-----------------------------------------------*/

* {box-sizing: border-box;}
body 
 {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    border: 2px solid red;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }

 
